html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    height: 100%;
}

hr {
    margin: 15px 10px;
}

a {
    text-decoration: none;
    color: white;
}

.container h1 {
    text-align: center;
    
}

.container h2 {
    font-size: 32px;
    text-align: center;
}

.container h1 {
    text-align: center;
    margin-bottom: 0;
}

#main-header {
    background-color: #110b25;
    color: white;
    margin-bottom: 40px;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: center;
}

#main-header #header-title {
    font-size: 20px;
    font-weight: 600;
}

#header {
    background-color: #110b25;
    color: white;
    margin-bottom: 40px;
    padding: 10px 0;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: left;
}

#header #header-title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}

.thin {
    font-weight: 300;
}

.danger {
    color: #c01919;
    font-size: 14px;
    font-weight: 500;
}

.fa-arrow-circle-left {
    padding-right: 20px;
}

input.valid-input {
    border: 1px solid #2fcf1a;
}   

input.invalid-input {
    border: 1px solid #cf1a1a;
}

input[type='submit']:disabled {
    background-color: #b4b4b4;
    color: #5e5e5e;
    border: 1px solid #d1d1d1;
}

input[type='submit']:disabled:hover {
    background-color: #b4b4b4;
    color: #5e5e5e;
    border: 1px solid #d1d1d1;
}

.container table {
    width: 100%;
}

th:last-child, td:last-child {
    text-align: right;
}

@media screen and (min-width: 768px) {
    #main-header {
        text-align: left;
    }

    #main-header #header-title {
        margin-left: 40px;
    }
}